body{
    background-color: #F2F2F2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph{
    text-align: left;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
    color: #2F281E;
    
}
.h1{
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    color: #2F281E;
}