.flex-grandparent{
    max-width: 468px;
    width: 100vh;
    min-width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 55px solid #370617;
    background-color: #370617;
}

.flex-parent-yellow-box-1{
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
    position: relative;
}

.child-1_box{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 5px;
    justify-content: space-between;
    align-content: end;
    margin-left: 20px;
    margin-bottom: 20px;
}
.child-1_box-1{
    justify-items: space-between;
    align-items: end;
}
.flex-parent-yellow-box-2{
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    background-color: #F48C06;
    border-radius: 5px;
}

.child-2_box{
    width: 78px;
    height: 120px;
    background-color: #9D0208;
    border-radius: 5px;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
 
.flex-parent-yellow-box-3{
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F48C06;
    border-radius: 5px;
}

.child-3_box{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 5px;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-parent-yellow-box-4{
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-flex;
    justify-content: flex-start;
    background-color: #F48C06;
    border-radius: 5px;
}


.child-4_box{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 5px;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.flex-parent-yellow-box-5{
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

.child-5_box{
    width: 78px;
    height: 120px;
    background-color: #9D0208;
    color: white;
    text-align: center;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.flex-parent-yellow-box-6{
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}



.child-6_box{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 5px;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
