body{
    background-color: #F2F2F2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product{
    margin-top: -60px;
    margin-left: 273px;
    display: flex;
    gap: 40px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #2F281E; 

}

.Customers{
    margin-top: -40px;
    margin-left: 355px;
    display: flex;
    gap: 40px;
    ffont-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #2F281E; 
}

.Pricing{
    display: flex;
    gap: 40px;
    margin-top: -40px;
    margin-left: 440px;
    ffont-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #2F281E; 
}

.Recourses{
    display: flex;
    gap: 40px;
    margin-top: -40px;
    margin-left: 511px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #2F281E; 
}

.Sign-In{
    width: 102px;
    height: 46px;
    margin-top: -40px;
    margin-left: 1321px;
    background-color: #BCD0E5;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #173A56; 
}

.Sign-Up{
    width: 110px;
    height: 46px;
    margin-top: 100px;
    margin-left: 1443px;
    background-color: #FF9900;
    border-radius: 6px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    }

.paragraph{
    text-align: left;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
    color: #2F281E;
    
}
.h1{
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    color: #2F281E;
}